@model HelpDesk.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@Html.Partial("_ResultMessage")
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <span class="red">Help</span>
                            <span class="white" id="id-text2">Desk</span>
                        </h1>
                    </div>
                    <div class="space-6"></div>
                    <div class="position-relative">
                        <div class="forgot-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger">
                                        <i class="ace-icon fa fa-key"></i>
                                        Reset your password
                                    </h4>
                                    <div class="space-6"></div>
                                    @using (Html.BeginForm("SaveResetPassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                          <fieldset>
                                            @Html.HiddenFor(model => model.Email)
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                                                    <i class="ace-icon fa fa-lock"></i>
                                                    @Html.ValidationMessageFor(model => model.Password)
                                                </span>
                                            </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                                    <i class="ace-icon fa fa-lock"></i>
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                                </span>
                                            </label>
                                            <div class="space"></div>
                                              <div class="clearfix">
                                                  <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                                      <i class="ace-icon fa fa-lightbulb-o"></i>
                                                      <span class="bigger-110">Submit</span>
                                                  </button>
                                              </div>
                                            <div class="space-4"></div>
                                        </fieldset>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
