@model HelpDeskEntity.AutoAssign
@using HelpDeskEntity
@using HelpDeskBAL
@using HelpDeskEntity.Classes

<script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $.validator.unobtrusive.parse($("#Manage-AutoAssignCompany-Form"));

        var validator = $("#Manage-AutoAssignCompany-Form").data('validator');
        validator.settings.ignore = ":hidden:not(select)";

        $('#dv_PopUp').on('shown.bs.modal', function () {
            $('#CompanyId').chosen({ allow_single_deselect: true });
        });

        $("#CompanyId").rules("add", { required: true, messages: { required: "Please select Company" } });

        $("#Operator").hide();
        $("#SupportTeam").hide();

        if ('@Model.Id' > 0) {
            if ('@Model.OperatorId' > 0) {
                $("#IsOperator").prop("checked", true);
                DisplayUserDDL('Operator', 'IsOperator');
            } else if ('@Model.SupportTeamId' > 0) {
                $("#IsSupportTeam").prop("checked", true);
                DisplayUserDDL('SupportTeam', 'IsSupportTeam');
            }
        }
    });

    function Cancel() {
        $('#dv_PopUp').modal('hide');
    }

    function DisplayUserDDL(name, id) {

        if ($("#" + id).prop("checked")) {
            $("#Operator").hide();
            $("#SupportTeam").hide();
            $("#" + name).show();
            $("#" + name + "Id").chosen({ allow_single_deselect: true });
            $("#" + name + "Id").rules("add", { required: true, messages: { required: "Please select&nbsp;" + name } });
        }
    }

    function SaveCompany() {

        if (!$('input[name=chkUser]:checked').val()) {
            alert("please select Operator or SupportTeam");
        }
        else
        {
            $.validator.unobtrusive.parse($("#Manage-AutoAssignCompany-Form"));
            if ($('#Manage-AutoAssignCompany-Form').valid()) {
                $('#ManageData').block();
                var formData = $("#Manage-AutoAssignCompany-Form").serialize();
                $.post("@Url.Content("~/Admin/AutoAssign/Save")", formData, function (data) {
                    if (data.success) {//on success refrsh view
                        $('#dv_PopUp').modal('hide');
                        SuccessMessage(data.message);
                        $("#AutoAssignDataGrid").trigger('reloadGrid');
                    } else {
                        $('#dv_PopUp').modal('hide');
                        $('#ManageData').unblock();
                        ErrorMessage(data.message);
                    }
                });
            }
        }
        setTimeout(function () { return true; }, 100);

    }

</script>

<div id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="bigger">Manage Company AutoAssign</h4>
            </div>
            <div class="modal-body" id="ManageData">
                <div class="col-xs-12">
                    <div class="row">
                        @using (Html.BeginForm("Save", "AutoAssign", FormMethod.Post, new { @class = "form-horizontal", Id = "Manage-AutoAssignCompany-Form" }))
                        {
                            @Html.HiddenFor(c => c.Id)
                            @Html.HiddenFor(c => c.CreatedOn)
                            @Html.HiddenFor(c => c.CreatedBy)
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"><span class="light-red">*</span> Company</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(p => p.CompanyId, new SelectList(ViewBag.lstCompanies as System.Collections.IEnumerable, "CompanyId", "CompanyName"), "Choose a Company...", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(p => p.CompanyId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Select</label>
                                <div class="col-sm-3">
                                    <div class="radio">
                                        <label>
                                            <input name="chkUser" type="radio" class="ace" id="IsOperator" onclick="DisplayUserDDL('Operator', 'IsOperator')">
                                            <span class="lbl">&nbsp;&nbsp;Operator</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="radio">
                                        <label>
                                            <input name="chkUser" type="radio" class="ace" id="IsSupportTeam" onclick="DisplayUserDDL('SupportTeam', 'IsSupportTeam')">
                                            <span class="lbl">&nbsp;&nbsp;Support Team</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="Operator">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"><span class="light-red">*</span> Operator</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(p => p.OperatorId, new SelectList(ViewBag.lstOperators as System.Collections.IEnumerable, "Value", "Text"), "Choose an Operator...", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(p => p.OperatorId)
                                </div>
                            </div>
                            <div class="form-group" id="SupportTeam">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"><span class="light-red">*</span> Support Team</label>
                                <label class="col-sm-8 ">
                                    @Html.DropDownListFor(p => p.SupportTeamId, new SelectList(ViewBag.lstSupportTeam as System.Collections.IEnumerable, "TeamId", "Name"), "Choose a Support Team...", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(p => p.SupportTeamId)
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="text-align:center;">
                    <button class="btn btn-sm btn-primary" type="button" onclick="SaveCompany();">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Save
                    </button>
                    &nbsp;
                    <button class="btn btn-sm" type="button" onclick="Cancel();">
                        <i class="ace-icon fa fa-times"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
