@using HelpDeskEntity
@{
    List<Permission> lstPermission = (List<Permission>)ViewBag.lstPermission;
}
<script type="text/javascript">

    $(document).ready(function () {

        $("#OperatorId").val('@ViewBag.OperatorId');
        $.getJSON("/Admin/Users/LoadOperatorPermission", { OperatorId: '@ViewBag.OperatorId' },
                 function (permissionData) {
                     $('#Manage-Permission-Form').unblock();
                     $(":checkbox").prop('checked', false);
                     $.each(permissionData, function (index, permissionData) {
                         $('#' + this.Value).prop('checked', true);
                     });
                 });
    });

</script>
<div class="col-xs-12">

    @using (Html.BeginForm("SavePermission", "Users", FormMethod.Post, new { @class = "form-horizontal", Id = "Manage-Permission-Form" }))
    {
        @Html.Hidden("OperatorId")

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Select Permissions</label>
            <div class="col-sm-9">
                @foreach (var itm in lstPermission)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="permissionIds" value="@itm.PermissionId" id="@itm.PermissionId" class="ace" />
                            <span class="lbl ">&nbsp;&nbsp;@itm.Description</span><span>&nbsp;</span>
                        </label>
                    </div>
                }
            </div>
        </div>
        
          <div class="clearfix form-group form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-sm btn-primary" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Save
                </button>
                &nbsp;
                <button class="btn btn-sm" type="button" onclick="window.location = '/Admin/Users/Index'">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>
            </div>
        </div>
    }
</div>

