@using HelpDeskEntity;
@using HelpDeskBAL
@model Nullable<Guid>
@{
    ViewBag.Title = "Manage Support Ticket";
    //Ticket oTicket = new SupportTicketBL().GetByTicketId(Model);
}
<link href="@Url.Content("~/Content/dropzone.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/dropzone.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('<span class="lbl"></span>').insertAfter(":checkbox");

        Dropzone.options.dzAttachments = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            autoProcessQueue: false,
            dictDefaultMessage: 'Drop files here or click to upload.',
            addRemoveLinks: true,
            init: function () {
                var myDropzone = this; //closure
                $('#SaveFiles').click(function () {
                    myDropzone.processQueue();
                    $('#dzAttachments').block();
                });
            },
            queuecomplete: function () {
                $('#dzAttachments').unblock(); alert();
                $('#dv_files_popup').modal('hide');
                var myDropzone = this; //closure
                myDropzone.removeAllFiles();
                LoadAttachments();
            },
            success: function () {
                var myDropzone = this; //closure
                myDropzone.processQueue();
            },
            error: function () {
                $('#dzAttachments').unblock();
            }
        };


        if ('@ViewBag.tab' == 'TicketView') {
            LoadTicketDetails();
        }
        else if ('@ViewBag.tab' == 'ContractDetails') {
            LoadContractDetails();
        }
        else if ('@ViewBag.tab' == 'ContactDetails') {
            LoadContractDetails();
        }

    });
    function LoadTicketDetails() {
        var IsNewTicket;
        if ('@ViewBag.IsNewTicket' == 'False') {
            IsNewTicket = false;
        }
        else
            IsNewTicket = true;

        $('#dvRow').block();
        if (!IsNewTicket) {

            $("#dvLoadData").load("/Account/SupportTicket/TicketView?id=" + '@Model', function () {
                $('#dvRow').unblock();
                $("#tabTicketDetail").addClass("active");
                $("#tabSLADetail").removeClass("active");
                $("#tabContactDetail").removeClass("active");
                //$('#CompanyUserId').chosen({ allow_single_deselect: true });
            });
        }
        else {
            $("#dvLoadData").load("/Account/SupportTicket/TicketCreate?id=" + '@Model', function () {
                $('#dvRow').unblock();
                $('#CompanyUserId').chosen({ allow_single_deselect: true });
                $("#tabTicketDetail").addClass("active");
                $("#tabSLADetail").addClass('hide');
                $("#tabContactDetail").addClass('hide');


            });
        }
        @*if ('@Model' != null) {
            $("#tabTicketDetail").addClass("active");
        }
        else {
            $("#tabTicketDetail").addClass("active");
        }*@
    }

    function LoadContractDetails() {
        var IsNewTicket;
        if ('@ViewBag.IsNewTicket' == 'False') {
            IsNewTicket = false;
        }
        else
            IsNewTicket = true;

        $('#dvRow').block();
        if (!IsNewTicket) {
            $("#dvLoadData").html('');
            $("#dvLoadData").load("/Account/SupportTicket/SLAContracts?id=" + '@Model', function () {
                $('#dvRow').unblock();
                $("#tabSLADetail").addClass("active");
                $("#tabTicketDetail").removeClass("active");
                $("#tabContactDetail").removeClass("active");


            });
        }
        else {
            alert("Please first Create a Ticket.");
        }
    }


    function LoadContactDetails() {
        var IsNewTicket;
        if ('@ViewBag.IsNewTicket' == 'False') {
            IsNewTicket = false;
        }
        else
            IsNewTicket = true;

        $('#dvRow').block();
        if (!IsNewTicket) {
            $("#dvLoadData").html('');
            $("#dvLoadData").load("/Account/SupportTicket/Contacts?id=" + '@Model', function () {
                $('#dvRow').unblock();
                $("#tabContactDetail").addClass("active");
                $("#tabTicketDetail").removeClass("active");
                $("#tabSLADetail").removeClass("active");

            });
        }
        else {
            alert("Please first Create a Ticket.");
        }
    }
</script>
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index","Dashboard")">Home</a>
        </li>
        <li class="active">Support Ticket</li>
    </ul>

</div>

<div class="page-content">
    <div class="page-header">
        <h1>
            Manage Support Ticket
        </h1>
    </div>
    @if (Model != null)
    {
        <div class="widget-box SupportTicket">


            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="form-field-9"><strong>You are looking at Ticket :</strong></label>
                            <div class="input-group">
                                @ViewBag.TicketId
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="form-field-9"><strong>Created On :</strong></label>
                            <div class="input-group">
                                @ViewBag.CreatedOn.ToString()
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="form-field-9"><strong>Closed On :</strong></label>
                            <div class="input-group">
                                @(ViewBag.ClosedOn != null ? ViewBag.ClosedOn.ToString() : "(Not Closed yet)")
                            </div>
                        </div>
                        @if (ViewBag.NextActionType != null && ViewBag.NextActionDueFor != null)
                        {

                            <div class="col-sm-3">
                                <label for="form-field-9"><strong>Next Action Type :</strong></label>
                                <div class="input-group">
                                    @ViewBag.NextActionType
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="form-field-9"><strong>Next Action Due For :</strong></label>
                                <div class="input-group">
                                    @ViewBag.NextActionDueFor
                                </div>
                            </div>
                        }
                        @*<div class="col-sm-3">
                                <label for="form-field-9"><strong>Time Worked :</strong></label>
                                <div class="input-group">
                                    ggdfgd
                                </div>
                            </div>*@
                        <div class="c"></div>
                    </div>

                </div>
            </div>
        </div>
    }




    <div class="row" id="dvRow">
        <div class="col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="" id="tabTicketDetail">
                        <a href="javascript:void(0);" data-toggle="tab" aria-expanded="false" onclick="LoadTicketDetails();">Support Ticket</a>
                    </li>
                    <li class="" id="tabSLADetail">
                        <a href="" data-toggle="tab" aria-expanded="false" onclick="LoadContractDetails();">SLA Contracts</a>
                    </li>
                    <li class="" id="tabContactDetail">
                        <a href="" data-toggle="tab" aria-expanded="false" onclick="LoadContactDetails();">Contacts</a>
                    </li>
                </ul>

                <br />
                <div class="tab-pane active" id="dvLoadData">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="dv_files_popup">
    <div class="modal-dialog modal-sm1" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Add Files </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div>
                            <form action="~/Account/SupportTicket/AddFiles?id=@Model" class="dropzone" id="dzAttachments" method="post" enctype="multipart/form-data"></form>
                        </div><!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="clearfix form-group form-actions">
                    <div style="text-align:center">
                        <button class="btn btn-sm btn-primary" type="button" id="SaveFiles">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Save
                        </button>
                        &nbsp;
                        <button class="btn btn-sm" type="button" onclick="$('#dv_files_popup').modal('hide');" id="SaveFiles">
                            <i class="ace-icon fa fa-times"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>