@using HelpDeskEntity;
@model HelpDeskEntity.SupportCategory
@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('<span class="lbl"></span>').insertAfter(":checkbox"); //apply checkbox ace design

        $('#dv_PopUp').on('shown.bs.modal', function () {
            $('#ParentId').chosen({ allow_single_deselect: true });
        });
    })

    function Cancel() {
        $('#dv_PopUp').modal('hide');
    }

    function SaveSupportCategories() {
        $.validator.unobtrusive.parse($("#Manage-SupportCategories-Form"));
        if ($('#Manage-SupportCategories-Form').valid()) {
            $('#ManageData').block();
            var formData = $("#Manage-SupportCategories-Form").serialize();
            $.post("@Url.Content("~/Admin/Settings/SaveSupportCategories")", formData, function (data) {
                if (data.success) {//on success refrsh view
                    $('#dv_PopUp').modal('hide');
                    SuccessMessage(data.message);
                    $("#SupportCategoriesDataGrid").trigger('reloadGrid');
                } else {
                    $('#ManageData').unblock();
                    ErrorMessage(data.message);
                }
            });
        }
    }
</script>
<div id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="bigger">Manage Support Categories</h4>
            </div>
            <div class="modal-body" id="ManageData">
                <div class="col-xs-12">
                    <div class="row">
                        @using (Html.BeginForm("Save", "Category", FormMethod.Post, new { @class = "form-horizontal", Id = "Manage-SupportCategories-Form", @name = "Manage-SupportCategories-Form" }))
                        {
                            @Html.HiddenFor(c => c.CategoryId)
                            @Html.HiddenFor(c => c.CreatedOn)
                            @Html.HiddenFor(c => c.CreatedBy)
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> <span class="light-red">*</span> Category Name </label>
                                <label class="col-sm-8 ">
                                    @Html.TextBoxFor(c => c.CategoryName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.CategoryName)
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> Parent Category </label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(p => p.ParentId, new SelectList(ViewBag.lstSprtCategories as System.Collections.IEnumerable, "CategoryId", "CategoryName"), "Choose a Parent Category...", new { @class = "chosen-select form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> Is Enable </label>
                                <label class="col-sm-8 " style="margin-top:6px">
                                    @Html.CheckBoxFor(c => c.IsEnable, new { @class = "ace" })
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> Default For NewTicket </label>
                                <label class="col-sm-8 " style="margin-top:6px">
                                    @Html.CheckBoxFor(c => c.DefaultForNewTicket, new { @class = "ace" })
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="text-align:center;">
                    <button class="btn btn-sm btn-primary" type="button" onclick="SaveSupportCategories();">
                        <i class="ace-icon fa fa-check bigger-110"></i>Save
                    </button>
                    &nbsp;
                    <button class="btn btn-sm" type="button" onclick="Cancel();">
                        <i class="ace-icon fa fa-times"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>