@model HelpDeskEntity.Comment
@using HelpDeskEntity
@{
    List<vw_Comments> lstComments = ViewBag.lstComments;
}

<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title lighter smaller">
            <i class="ace-icon fa fa-comment blue"></i>
        </h4>
    </div>
    <div class="widget-body">
        <div class="widget-main no-padding">
            <div class="dialogs">
                @{
                    if (lstComments.Count > 0)
                    {
                        foreach (vw_Comments item in lstComments)
                        {
                            <div class="itemdiv dialogdiv">
                                <div class="user">
                                    <img src=@(item.CreatedOpt_Id != null ? "/Content/images/Operator.png" : "/Content/images/CompanyUser.png") />
                                </div>

                                <div class="body">
                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <span class="orange">@item.CreatedOn.ToString()</span>
                                    </div>

                                    <div class="name">
                                        <span>@(item.CreatedOpt_Id != null ? @item.OperatorName.ToString() + "(Operator)" : item.CustomerName + "(Customer)")</span>
                                        @if (item.IsPrivate)
                                        {
                                            <span class="label label-info arrowed arrowed-in-right">(<b>Private Comment</b>: This comment is not visible to Customer)</span>
                                        }

                                    </div>
                                    <div class="text">@item.CommentText</div>


                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>There is No Comments for this Ticket.</div>
                    }
                }
            </div>
            @if (ViewBag.IsTicket_Open == true)
            {
                <div id="ManageCommentForm">
                    @using (Html.BeginForm("SaveComment", "SupportTicket", FormMethod.Post, new { Id = "Manage-Comment-Form", @name = "Manage-Category-Form", @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(c => c.CreatedOpt_Id)
                        @Html.HiddenFor(c => c.TicketId)
                        <div class="form-actions">
                            <div class="input-group">
                                <label class="control-label" for="form-field-1">Private Comment?:</label>
                                <label class="" style="margin-top:6px">
                                    @Html.CheckBoxFor(c => c.IsPrivate, new { @class = "ace" })
                                </label>
                            </div>
                            <div class="input-group">
                                @Html.TextBoxFor(c => c.CommentText, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.CommentText)
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary" onclick="SaveComment();">
                                        <i class="ace-icon fa fa-send"></i>
                                        Add Comment
                                    </button>
                                </span>
                            </div>


                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('<span class="lbl"></span>').insertAfter(":checkbox"); //apply checkbox ace design
    })

    function SaveComment() {
        $.validator.unobtrusive.parse($("#Manage-Comment-Form"));
        if ($('#Manage-Comment-Form').valid()) {
            $('#ManageCommentForm').block();
            var formData = $("#Manage-Comment-Form").serialize();
            $.post("@Url.Content("~/Admin/SupportTicket/SaveComment")", formData, function (data) {
                if (data.success) {//on success refrsh view
                    SuccessMessage(data.message);
                    $("#dvLoadData").load("/Admin/SupportTicket/Comments?id=" + data.TicketId, function () {
                        $('#dvRow').unblock();
                        $("#tabComments").addClass("active");
                        $("#tabTicketDetail").removeClass("active");

                    });
                } else {
                    $('#ManageCompanyContract').unblock();
                    ErrorMessage(data.message);
                }

                $.ajaxSetup({ async: true });
            });
        }
    }
</script>